In [1]:
import sys
import os

In [13]:
sys.path.append(os.path.abspath('..'))
from src.data_loader import load_train_data

In [14]:
train_df = load_train_data()

Loading training data
(20000, 11)

In [15]:
display(train_df.head())

,Age,Income,CreditScore,LoanAmount,EmploymentYears,NumDependents,DebtToIncome,EducationLevel,FavoriteColor,Hobby,Default
0,59,16785.977212,604.0,19416.230574,3,2,0.912395,3,Green,Traveling,0
1,49,62263.017648,613.0,16902.153253,33,2,0.455917,1,Blue,Traveling,0
2,35,62414.862646,NaN,21639.847552,1,1,0.817570,3,Blue,Traveling,0
3,63,62653.254368,363.0,17216.445061,3,0,0.519046,3,Green,Reading,1
4,28,54601.849437,607.0,22955.590991,22,4,0.197581,1,Yellow,Reading,0